
h1{
    font-size: 70%;
    padding-left: 14%;
    padding-right: 3%;
    opacity: 80%;
    
}

h1:hover {
    opacity: 30%
}

h2 {
    font-size: 300%;
    margin-top: 5%;
    opacity: 55%;
    
}

